/* =========================
   NAVBAR CLEAN SIMPLE
========================= */

.custom-navbar {
  background: rgba(58, 77, 251, 0.419);
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;

  transition: all 0.3s ease;
}

.custom-navbar .navbar-brand {
  color: #ffffff !important;
}

.custom-navbar .nav-link {
  color: #ffffff !important;
}

.custom-navbar.scrolled {
  background: #efecec;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

/* brand */
.navbar-brand {
  font-size: 40px;
  font-weight: 400;
  color: white !important;
  transition: 0.3s;
}

.custom-navbar.scrolled .navbar-brand {
  color: #333 !important;
}

/* nav link */
.nav-link {
  color: white !important;
  margin-left: 15px;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 15px;

  transition: all 0.3s ease;
}

/* hover Sebelum Scrol */
.nav-link:hover {
  background: #f1f3f5;
  color: #0d6efd !important;
}

/* active */
.nav-link.active {
  background: #e7f1ff;
  color: #0d6efd !important;
}

/* Hover setelah scrol */
.custom-navbar.scrolled .nav-link {
  color: #060606 !important;
}

/* hover KHUSUS setelah scroll */
.custom-navbar.scrolled .nav-link:hover {
  background: #3898f8e1;
  color: #fdfcfc !important;
}

/* =========================
   HAMBURGER ICON SIMPLE
========================= */

.hamburger {
  width: 24px;
  height: 18px;
  position: relative;
}

.hamburger span {
  position: absolute;
  width: 100%;
  height: 3px;
  background: white; /* default putih */
  border-radius: 3px;
  transition: all 0.4s ease;
}

.custom-navbar.scrolled .hamburger span {
  background: black;
}

.hamburger span:nth-child(1) {
  top: 0;
}
.hamburger span:nth-child(2) {
  top: 7px;
}
.hamburger span:nth-child(3) {
  top: 14px;
}

.navbar-toggler.active span:nth-child(1) {
  transform: rotate(45deg) translateY(8px);
}

.navbar-toggler.active span:nth-child(2) {
  opacity: 0;
  transform: translateX(-10px);
}

.navbar-toggler.active span:nth-child(3) {
  transform: rotate(-45deg) translateY(-8px);
}

/* =========================
   MOBILE DROPDOWN CLEAN
=========================  */

@media (max-width: 991px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    right: 15px;
    width: 200px;
    display: none;
  }

  .navbar-collapse.show {
    display: block;
  }

 .nav-box {
  background: white;
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 15px;
  width: 260px; /* diperbesar */
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);

  animation: menuFade 0.4s ease;
}

  .nav-box .nav-link {
    color: rgb(21, 6, 6) !important;
    display: block;
  padding: 10px 12px;
  border-radius: 8px;
  font-size: 15px;
  margin-bottom: 5px;
  transition: 0.3s;
  }

  .nav-box .nav-link:hover {
    background: #f1f3f5;
    color: #0d6efd !important;
  }

  

  @keyframes menuFade {
  from {
    opacity: 0;
    transform: translateY(-20px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
  /* =========================
   NAV BOX SAAT SCROLL
========================= */

  .custom-navbar.scrolled .nav-box {
    background: white;
  }

  /* teks jadi hitam */
  .custom-navbar.scrolled .nav-box .nav-link {
    color: black !important;
  }

  /* hover saat scroll */
  .custom-navbar.scrolled .nav-box .nav-link:hover {
    background: #f1f3f5;
    color: #0d6efd !important;
  }
}
.navbar-toggler {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

.navbar-toggler:focus {
  outline: none !important;
  box-shadow: none !important;
}

.navbar-toggler:active {
  outline: none !important;
  box-shadow: none !important;
}